.chats {
  padding-left: 0;

  li {
    list-style-type: none;
    border: 1px solid grey;
    padding: 5px 10px;

    h3 {
      font-size: 1rem;
      color: green;
      margin: 0;
    }

    p {
      font-size: 0.8rem;
      color: rgb(65, 122, 64);
      margin: 0;
    }
  }
}