.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #062c05;
    color: white;
    height: 3rem;

    &>div{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: .8em;
        text-align: right;

        img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: white;
        }

        p {
            font-weight: 700;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: .8em;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}