/* .chatList {
    list-style: none;
    height: calc(100% - 3rem);
    box-shadow: inset 0px 2px 5px;
    overflow-y: auto;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 5px;
        background-color: yellow;
        color: rgb(16, 38, 16);
        padding: 10px;
        border-radius: 8px;

        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            background-color: white;
        }

        &:first-child {
            position: sticky;
            top: 5px;
            padding: 0;
            width: 80%;
            margin: 5px auto;

            &>input {
                width: 100%;
                padding: 10px;
                border-radius: inherit;
            }
        }

        &>div {
            flex: 1;

            &>div {
                font-style: italic;
                display: flex;
                justify-content: space-between;
            }
        }

        &.chat-item {
            cursor: pointer;
        }
    }
} */

/* .chats {
    padding-left: 0;

    li {
        list-style-type: none;
        background-color: rgb(247, 241, 241);
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: aquamarine;
        }

        h3 {
            font-size: 1rem;
            color: green;
            margin: 0;
        }

        p {
            font-size: 0.8rem;
            color: rgb(65, 122, 64);
            margin: 0;
        }
    }
} */